* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'iconfont';
  src: url("./fonts/iconfont.eot");
  src: url("./fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("./fonts/iconfont.woff") format("woff"), url("./fonts/iconfont.ttf") format("truetype"), url("./fonts/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 44px;
  display: flex;
}

ul {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 44px;
}

li {
  width: 64px;
}

section {
  flex: 1;
}

section dl {
  display: flex;
}

section dl dt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 6px;
}

footer {
  width: 100%;
  height: 44px;
  display: flex;
}

footer dl {
  width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.active {
  color: red;
  background: red;
}
